/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
	margin:0;
	font-size: 100%;
	font-family: 'Montserrat', sans-serif;
	background: #fff;
}
body a {
	text-decoration:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
 text-decoration:none;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h2,h3,h4,h5,h6{
	margin:0;
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}	
p{
	margin:0;
	font-family: 'Open Sans', sans-serif;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
img {
    border: 0;
    width: 100%;
}

/*--header--*/

.header_left {
	float: left;
	margin: .3em 0 0;
}

.header_left ul li {
	display: inline-block;
	margin-right: 2em;
	font-size: 15px;
	color: #999c9e;
	letter-spacing: 1px;
}

.header_left ul li i {
	padding-right: 1em;
	color: #ee4f4f;
}

.header_left ul li a {
	font-size: 15px;
	color: #999c9e;
	text-decoration: none;
}

.header_left ul li a:hover {
	color: #ee4f4f;
}

.header_right {
	float: right;
}

ul.forms_right {
	float: right;
	margin-top: 3px;
}

ul.forms_right {
	float: right;
}

ul.forms_right li a {
	background: #ee4f4f;
	color: #fff;
	font-size: 0.9em;
	padding: 0.6em 1em;
	text-transform: uppercase;
	letter-spacing: 1px;
}

ul.forms_right li a:hover {
	background: #168eea;
}

ul.forms_right li a.active {
	background: #168eea;
}

ul.forms_right li {
	display: inline-block;
	list-style: none;
}

.top_menu_w3layouts {
	padding: 0.5em 2em;
	background: #000;
}

.content {
	margin: 0;
	padding: 0px;
}

.content p:last-child {
	margin: 0;
}

.content a.button {
	display: inline-block;
	padding: 10px 20px;
	background: #ff0;
	color: #000;
	text-decoration: none;
}

.content a.button:hover {
	background: #000;
	color: #ff0;
}

.content.title {
	position: relative;
	background: #333;
}

.navbar-nav {
	float: right;
	margin: 0;
}

.content.title h1 span.demo {
	display: inline-block;
	font-size: .5em;
	padding: 10px;
	background: #fff;
	color: #333;
	vertical-align: top;
}

.content.title .back-to-article {
	position: absolute;
	bottom: -20px;
	left: 20px;
}

.content.title .back-to-article a {
	padding: 10px 20px;
	background: #168eea;
	color: #fff;
	text-decoration: none;
}

.content.title .back-to-article a:hover {
	background: #168eea;
}

.content.title .back-to-article a i {
	margin-left: 5px;
}

.content.white {
	background: #fff;
}

.content.black {
	background: #000;
}

.content.black p {
	color: #999;
}

.content.black p a {
	color: #08c;
}

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 0!important;
	border: 1px solid transparent;
}

.navbar-default {
	background-color: #fff;
	border-color: #fff;
}

.navbar-brand {
	float: left;
	padding: 0!important;
	font-size: 18px;
	line-height: 0px!important;
	height: 0px!important;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.29);
}

.navbar-default a.navbar-brand h1 {
	color: #0099cc;
	color: #03C5E2;
	font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 16px;
}

.navbar-default a.navbar-brand h1 .fa {
	color: #ff66ff;
	margin-right: 3px;
}
.navbar-default .navbar-nav>li>a {
	color: #282828;
	letter-spacing: 1px;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
	padding: 15px 22px;
    margin: 1em 0;
}

.navbar-nav>li>a.active {
	color: #ffffff;
	background: #ff66ff;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
	color: #fff;
	background: #ff66ff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: #fff;
	background: #ff66ff;
}

.navbar-default .navbar-brand label {
	color: #333;
	display: block;
	font-size: 0.3em;
	text-align: center;
	letter-spacing: 1px;
	text-shadow: 0 1px 2px rgba(47, 47, 47, 0.2);
	font-weight: 600;
	text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #111;
}

.navbar-default .navbar-toggle .icon-bar {
   background-color: #ffffff;
}

.navbar-default .navbar-nav>.active>a:before {
	background: #168eea;
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-o-transform: translateX(0);
	-ms-transform: translateX(0);
}

.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 0;
	padding: 9px 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: #282828;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color: #ffffff;
	background: #168eea;
}

.navbar-nav>li {
	float: left;
	margin: 0 5px;
}

.navbar-default .navbar-toggle {
	border-color: #202020;
}

.dropdown-menu .divider {
	height: 0;
	margin: 0;
	overflow: none;
	background: none;
}

.dropdown-menu .divider {
	border-bottom: 1px solid #E8E7EC;
	padding: 0px 0;
}

.main-content {
	padding: 3em 0;
}

.dropdown-menu {
	min-width: 150px;
    padding: 0px 0;
}

ul.dropdown-menu.sub-menu {
	min-width: 130px;
	top: 77px;
	left: 148px;
	-webkit-animation: fadeinleft 600ms ease-in-out;
	-moz-animation: fadeinleft 600ms ease-in-out;
	-o-animation: fadeinleft 600ms ease-in-out;
	-ms-animation: fadeinleft 600ms ease-in-out;
	animation: fadeinleft 600ms ease-in-out;
}

ul.dropdown-menu:hover a.s-menu {
	background: #373738;
	color: #fff;
}

.dropdown-menu.columns-2 {
	min-width: 400px;
}

.dropdown-menu.columns-3 {
	min-width: 600px;
}

.dropdown-menu li a {
	padding: 12px 15px;
    color: #282828;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

.dropdown-menu {
	border-radius: 0px;
}

.multi-column-dropdown {
	list-style: none;
}

.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #333;
	white-space: normal;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #ff66ff;
}

.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: #168eea;
	background: none;
}

b.fa.fa-caret-right {
	vertical-align: middle;
	margin-left: 2em;
}

@media (max-width:767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
	.navbar-nav {
		float: left;
		margin: 0;
		margin-left: 0em;
		width: 100%;
		background: #eee;
		margin-top: 1em;
	}
}


/*-- banner --*/

.carousel .item {
	background: -webkit-linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../images/banner2.png) repeat;
	background: -moz-linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../images/banner2.png) repeat;
	background: -ms-linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../images/banner2.png) repeat;
	background: linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../images/banner2.png) repeat;
}

.carousel .item.item2 {
	background: -webkit-linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../images/banner5.png) repeat;
	background: -moz-linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../images/banner5.png) repeat;
	background: -ms-linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../images/banner5.png) repeat;
	background: linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../images/banner5.png) repeat;
}

.carousel .item.item3 {
	background: -webkit-linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../images/banner1.png) repeat;
	background: -moz-linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../images/banner1.png) repeat;
	background: -ms-linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../images/banner1.png) repeat;
	background: linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../images/banner1.png) repeat;
}

.carousel .item.item4 {
	background: -webkit-linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../images/banner4.png) repeat;
	background: -moz-linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../images/banner4.png) repeat;
	background: -ms-linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../images/banner4.png) repeat;
	background: linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../images/banner4.png) repeat;
}

.carousel .item.item5 {
	background: -webkit-linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../images/banner5.png) repeat;
	background: -moz-linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../images/banner5.png) repeat;
	background: -ms-linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../images/banner5.png) repeat;
	background: linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../images/banner5.png) repeat;
}

.carousel-caption h2,
.carousel-caption h3 {
	font-size: 2.5em;
	margin-top: 3em;
	line-height: 55px;
	text-transform: uppercase;
}

.carousel-caption h2 span,
.carousel-caption h3 span {
	font-weight: 600;
}

.carousel-caption p {
	letter-spacing: 2px;
	font-size: 1em;
	color: #fff;
	line-height: 30px;
	margin: 1em 0 2em 0;
}

.carousel-caption a {
	color: #fff;
	letter-spacing: 1px;
	padding: 13px 20px;
	background: none;
	font-size: 0.9em;
	border-radius: 0;
	border: 1px solid #fff;
}
.carousel-caption a span.fa {
	margin-right: 10px;
}

.carousel-indicators li {
    width: 14px;
    height: 14px;
    border: 1px solid #fff;
    background-color: #fff;
}
.carousel-indicators .active {
    width: 14px;
    height: 14px;
    border: 1px solid #ff66ff;
    background-color: #ff66ff;
}
.codes {
	padding: 5em 0;
	background: #fff;
}

.codes.agileitsbg2 {
	background: #E74C3C;
	background-image: -webkit-linear-gradient(#ff9d2f, #ff6126);
	background-image: -moz-linear-gradient(#ff9d2f, #ff6126);
	background-image: -ms-linear-gradient(#ff9d2f, #ff6126);
	background-image: linear-gradient(#ff9d2f, #ff6126);
	padding-bottom: 10em;
}

.codes.agileitsbg3 {
	background: #3498DB;
	padding-bottom: 10em;
}

.codes.agileitsbg4 {
	background: #2ECC71;
	padding-bottom: 10em;
}

.carousel.slide.grid_3.grid_4 {
	border-top: 10px solid #3ACFD5;
	border-bottom: 10px solid #3a4ed5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-position: 0 0, 100% 0;
	background-repeat: no-repeat;
	-webkit-background-size: 10px 100%;
	-moz-background-size: 10px 100%;
	background-size: 10px 100%;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
	background-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
	background-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
	background-image: -o-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -o-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
	background-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%), linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
}

.carousel-indicators {
	bottom: 5%;
	left: 50%;
}

.carousel-caption {
	position: inherit;
	min-height: 650px!important;
	padding-top: 5em;
	text-align: center;
}

.carousel-control {
	line-height: 32em;
}
/* Bounce To Right */
.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.about_section .hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff66ff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: #03C5E2;
}
.about_section .hvr-bounce-to-right:hover, .about_section .hvr-bounce-to-right:focus, .about_section  .hvr-bounce-to-right:active {
  color: #fff;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
a.read,a.read2{
    font-size: 1em;
    letter-spacing: 2px;
    background: rgba(245, 245, 245, 0.3);
	background:#03C5E2;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
a.read2{
 background:#000!important;
}

/*-- //banner --*/
/*-- welcome --*/
.welcome{
	padding: 5em 0; 
}
.welcome_left p {
    font-size: 15px;
    color: #666;
    line-height: 1.8em;
    letter-spacing: 1px;
}  
h3.agileits-title{
    color: #333;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: .7em;
    margin-top: .4em;
    line-height: 0.9em;
}
.w3ls-title h3.agileits-title {
    display: inline-block;
}
.w3ls-title {
    text-align: center;
}
.welcome_left h4 {
    color: #333;
    font-size: 1.4em;
    text-transform: capitalize;
    border-left: 3px solid #03C5E2;
    padding-left: 1em;
    margin: 0 0 1em;
    line-height: 1.6em;
    letter-spacing: 1px;
}
/*-- //welcome --*/

/*-- welcome video --*/
.bannerbottomleft img {
    width: 100%;
     padding: 0;
	 opacity: 0.9;

}
.bannerbottomleft{
    padding: 0;
    position: relative;
}
.video-grid-single-page-agileits img {
    width: 100%;
}
#video {
	position: relative;
	background: #ff66ff;
	width: 100%;
	margin:0px auto;
}

#video img,
#video iframe { display: block;width:100%; }

#play{
    position: absolute;
       top:45%;
    left: 44%;
    width:64px;
    height:64px;
    cursor: pointer;
    background: #03C5E2 url('../images/play-button.png') no-repeat 0px 0px;
    background-size: auto, cover;
    z-index: 9;
    border-radius: 50%;
}

.video_agile_player {
    padding: 0;
}
/*-- //welcome video --*/

/*-- Cakes grids --*/
.popular_cakes{
	padding: 5em 0;
}
h3.heading {
    color: #000;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 1em;
    text-align: center;
    text-transform: capitalize;
}
.cakes_grid1 h3 {
    text-align: center;
    font-size: 23px;
    color: #292929;
    margin: 1em 0 0;
}

.team h3.heading,.about h3.heading{
    color: #fff;
}
.cakes_grid1 p {
    text-align: center;
    font-size: 15px;
    color: #777;
	letter-spacing: 1px;
    margin: .5em 0;
}
.cakes_bottom_grids {
    margin-top: 2em;
}
.cakes_grid1 {
    -webkit-box-shadow: 0px 1px 12px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 12px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 12px -3px rgba(0,0,0,0.75);
    padding-bottom: 1em;
}

/*-- //Cakes grids --*/

/* welcome bottom section */
.wthree_head_section h2 {
    font-size: 3.3em;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1.2em;
    font-weight: 800;
}

.about h4 {
    font-size: 1.8em;
    margin: 1em 0 0.5em 0;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 500;
}

.about_agileinfo h3 {
    text-align: left;
    margin-top: 2em;
    line-height: 30px;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 0;
    color: #303030;
}

.about_agileinfo p {
    line-height: 28px;
    font-size: 15px;
    margin-top: 1em;
    color: #a5a5a5;
    letter-spacing: 1px;
}
.mid-inner-info {
    margin-top: 2em;
}

.about {
    background: #0b0c11;
    padding: 5em 0;
}
.plans-section{
     background: #cee3fb;
}
.wthree_head_section {
    text-align: left;
}

.w3l_header {
    font-size: 3em;
    color: #262c38;
    letter-spacing: 1px;
    position: relative;
    font-weight: 600;
    text-align: center;
}

.agileits-button.two a,
.agileits-button a {
    padding: 0.8em 1em;
    color: #0b0c11;
    font-size: 1em;
    letter-spacing: 1px;
    background: none;
    border: 1px solid #fff;
    border-radius: 0;
    margin-top: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
}

.agileits-button.two a:hover,
.agileits-button a:hover {
    box-shadow: none;
    border: 1px solid #1cd8c9;
}

.about_agileinfo_grid_imgs img {
    width: 100%;
}

.about_agileinfo_grid_imgs img:nth-child(2) {
    margin-top: 1em;
}


/* Underline From Left */

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #1cd8c9;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
    right: 0;
}

.main_section_agile.inner {
    background: url(../images/banner2.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 350px;
}
.mid-inner-sec span {
    font-size: 2.3em;
    margin-bottom: 0.5em;
    color: #03C5E2;
}
.mid-inner-info h5 {
    font-size: 1.3em;
    margin-bottom: .7em;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
}
/*-- //welcome bottom section --*/

/*-- subscribe --*/
.subscribe{
    background: #ff66ff;
	padding: 4em 0;
}
.subscribe h3.heading {
    color: #ffffff;
}
.agile-subscribe-heading{
	text-align:center;
}
.subscribe-grid{
    text-align: center;
    width: 80%;
    margin: 2em auto 0;
}
.subscribe-grid input[type="email"] {
	display: inline-block;
    background: #FFFFFF;
    border: solid 1px #fff;
    width: 60%;
    outline: none;
    padding: .7em;
    font-size: 1em;
    color: #999999;
}
.subscribe-grid button.btn1 {
    color: #ffffff;
    font-size: 1em;
    border: solid 1px #03C5E2;
    width: 70px;
    padding: .7em;
    text-align: center;
    text-decoration: none;
    background: #03C5E2;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
button.btn1:hover{
    background: #fff;
    border: 1px solid #fff;
}
button.btn1:hover i.fa.fa-paper-plane-o{
    color: #03C5E2 !important;
}
/*-- //subscribe --*/

/*-- team --*/
.team,.footer,.about,.services,.testimonials{
	padding: 4em 0;
}
.footer {
    padding-bottom: 3em;
}
.about{
	padding: 5em 0;
	background:url("../images/tt.jpg") no-repeat 0px 0px;
	background-size: cover;
}
div#team {
    background: #171616;
    background: #0b0c11;
}
.wthree_head1{
	color:#fff;
}
.agileits_team_grid_figure img {
    border: 3px solid #999;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    text-align: center;
	width: 160px;
	height: 160px;
}
.agileits_team_grid_figure_social{
	margin:4em 0 0 0.5em;
}
.agileits_team_grid h4{
    font-size: 1.3em;
    color: #03C5E2;
    margin: 1em 0 .5em;
}
.agileits_team_grid h4 span{
	font-size:.7em;
	color:#fff;
}
.agileits_team_grid p{
	color:#eee;
	line-height:2em;
    font-size: 15px;
    letter-spacing: 2px;
}
.agileits_team_grid {
    background: rgba(16, 16, 16, 0.48);
    background: transparent;
    text-align: center;
    padding: 2em 1em;
    border: 2px solid #999;
    position: relative;
}
.team .social-icon {
    position: absolute;
    background: #171616;
    background: #0b0c11;
    padding: 10px;
    padding-bottom: 5px;
    bottom: -10%;
    left: 15%;
}
.agileits_team_grid:nth-child(3) {
    margin-right: 0%;
}
.team span,h3.wthree_head.two  span {
    color: #fff;
}
h3.wthree_head.two {
    color: #fff;
}
/*-- social-icon --*/
.social-button {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 3px;
    line-height: 32px;
    text-align: center;
    position: relative;
    overflow: hidden;
    opacity: .99; 
}
.social-button:before {
    content: '';
    background-color: #000;
    width: 120%;
    height: 120%;
    position: absolute;
    top: 102%;
    left: -118%;
    -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
	-moz-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59); 
    transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button .fa {
	font-size: 18px;
	vertical-align: middle;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
	-moz-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59); 
	transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button.facebook:before {
	background-color: #3B5998;
}
.social-button.facebook .fa {
	color: #3B5998;
}
.social-button.twitter:before {
	background-color: #3CF;
}
.social-button.twitter .fa {
	color: #3CF;
}
.social-button.google:before {
	background-color: #DC4A38;
}
.social-button.google .fa {
	color: #DC4A38;
}
.social-button.dribbble:before {
	background-color: #F26798;
}
.social-button.dribbble .fa {
	color: #F26798;
}
.social-button.skype:before {
	background-color: #00AFF0;
}
.social-button.skype .fa {
	color: #00AFF0;
}
.social-button:focus:before, .social-button:hover:before {
	top: -10%;
	left: -10%;
}
.social-button:focus .fa, .social-button:hover .fa {
	color: #fff;
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
/*-- //social-icon --*/
/*-- //team --*/

/*-- testimonials --*/
.testimonials-grids {
    width: 80%;
    margin: 3em auto 0;
}
.testimonials-grid-right p {
    padding-left: 0em;
    text-align: center;
    margin: 25px auto;
    width: 85%;
	color:#555;
	line-height: 2em;
    font-size: 14px;
    letter-spacing: 1px;

}
.testimonials-grid-right h4 {
    font-size: 1.5em;
    color: #03C5E2;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.testimonials-grid-left img {
    margin: 0 auto;
    width: 160px;
    height: 160px;
    border-radius: 50%;
	border: 2px solid #555;
}
/*-- wmuslider --*/
.wmuSlider {
	position: relative;
	overflow: hidden;
}
.wmuSlider .wmuSliderWrapper article img {
	/*--max-width: 100%;
	width: auto;
	height: auto;
	display:block;--*/
}
/* Default Skin */
.wmuSliderPagination {
	z-index: 2;
    position: absolute;
    left: 47%;
    bottom: 6%;
}
ul.wmuSliderPagination {
	padding:0;
}
.wmuSliderPagination li {
	float: left;
	margin: 0 8px 0 0;
	list-style-type: none;
}
.wmuSliderPagination a {
	display: block;
    text-indent: -9999px;
    width: 12px;
    height: 12px;
    background: #333;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
	-ms-border-radius: 50px;
}
.wmuSliderPagination a.wmuActive {
	background: #ff66ff;
    box-shadow: 0px 0px 10px #3D99DC;
	-webkit-box-shadow: 0px 0px 10px #3D99DC;
	-moz-box-shadow: 0px 0px 10px #3D99DC;
	-o-box-shadow: 0px 0px 10px #3D99DC;
	-ms-box-shadow: 0px 0px 10px #3D99DC;
}
/* Default Skin */
.wmuGallery .wmuGalleryImage {
	margin-bottom: 10px;
}
.banner-wrap{
	padding:0 0 4em;
}
/*-- //wmuslider --*/
/*-- //testimonials --*/

/*-- footer --*/
.footer {
    background: url(../images/footer.jpg) no-repeat fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
ul.agile_footer_grid_list li{
    color: #fff;
    line-height: 1.8em;
    list-style-type: none;
}
ul.agile_footer_grid_list li:nth-child(2){
	margin:2em 0 0;
}
ul.agile_footer_grid_list li a{
	color:#ff8040;
	text-decoration:none;
}
ul.agile_footer_grid_list li a:hover{
	color:#fff;
}
ul.agile_footer_grid_list li label{	
	display:block;
	color:#fff;
    margin:.5em 0 0;
    font-weight: normal;
}
ul.agile_footer_grid_list li span{
	padding-right:1.5em;
	color:#0accff;
}
.w3_agile_footer_grid li {
    color: #eee;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    list-style-type: none;
    padding-right: 10px;
}
.right li span {
    float : right;
    font-size: 14px;
}
.right li span.fa {
    float : none;
    font-size: 14px;
    color: #ff66ff;
    padding-right: 1em;
}
.w3_agile_footer_grid h3 {
    font-size: 25px;
    color: #fff;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(251, 251, 251, 0.18);
}
.agileits_w3layouts_footer_grid_list li{
	list-style-type:none;
	margin-bottom:1em;
	color:#999;
}
.agileits_w3layouts_footer_grid_list li span{ 
    color: #ff66ff;
	padding-right:1em;
}
.agileits_w3layouts_footer_grid_list li a{
	color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 14px;
}
.agileits_w3layouts_footer_grid_list li a:hover{
	color: #03C5E2;
}
.agileits_w3layouts_footer_grid_list li:last-child{
	margin-bottom:0;
}
.w3_agileits_footer_grid_left{
	float:left;
	width:33.33%;
	border:4px solid rgba(18, 18, 18, 0.18);
}
.w3_newsletter_footer_grids {
    margin: 0 0 4em;
}
.w3_newsletter_footer_grid_left input[type="email"] {
    outline: none;
    background: transparent;
    font-size: 1em;
    color: #fff;
    width: 72%;
    padding: 14px;
    margin-right: 1em;
    border: 1px solid rgba(255, 255, 255, 0.64);
}
.w3_newsletter_footer_grid_left input[type="submit"] {
    outline: none;
    border: none;
    background: #ff8040;
    font-size: 1em;
    color: #fff;
    width: 21%;
    letter-spacing: 1px;
    padding: 15px 0;
}
.w3_newsletter_footer_grid_left h5 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-bottom: 23px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.w3_newsletter_footer_grid_left input[type="submit"]:hover{
	background:#ff8040;
}
.w3_newsletter_footer_grid_right{
	text-align: center;
    margin-top: .5em;
}
.w3l-icon {
    float: left;
    width: 15%;
    text-align: left;
}
.w3l-icon span {
    color: #03C5E2;
    font-size: 20px;
}
.w3ls_footer_grid_left p{
	color:#fff;
    line-height:2em;
    float: left;
    font-size: 14px;
    letter-spacing: 1px;
}
.w3ls_footer_grid_left p span{
	display:block;
}
.w3ls_footer_grid_left p a{
	color:#fff;
	text-decoration:none;
}
.w3ls_footer_grid_left p a:hover{
	color:#fff;
}
.w3ls_footer_grid_left{
    text-align:center;
    margin: 10px 0;
}
.logo-2 {
    padding: 0;
    margin-top: 30px;
}
.logo-2 h2 a {
    font-size: 1.8em;
    color: #fff;
}
.logo-2 h2 a span{
    font-size: 1.4em;
    color: #5bbbfe;
}
.agileinfo_copyright {
    margin: 1em 0 0;
    padding: 1em 0 0;
    border-top: 1px solid rgba(130, 130, 130, 0.25);
    text-align: center;
}
.agileinfo_copyright p{
	color:#fff;
	line-height:2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
}
.agileinfo_copyright p a{ 
	color:#ff66ff;
	text-decoration:none;
}
.agileinfo_copyright p a:hover{ 
	color:#fff;
}
/*-- //footer --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url(../images/top.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/

/* Responsive design */

@media(max-width:1440px){
	.slider_right {
		padding: 0 5em;
	}
	.bannerbottomright p {
		font-size: 14.5px;
	}
}
@media(max-width:1366px){
	.bannerbottomleft {
		min-height: 490px;
	}
	.slider_right {
		padding: 0 4em;
	}
}
@media(max-width:1280px){
	h3.agileits-title {
		font-size: 2em;
	}
	.welcome_left h4 {
		font-size: 1.3em;
	}
	.innerpages_banner {
		min-height: 260px !important;
	}
	.innerpages_banner h2 {
		font-size: 50px !important;
	}
	.bannerbottomright h3 {
		font-size: 1.5em;
	}
	.bannerbottomleft {
		min-height: 477px;
	}
	.carousel-caption h2, .carousel-caption h3 {
		font-size: 2.3em;
	}
	.carousel-caption {
		min-height: 600px!important;
	}
}
@media(max-width:1080px){
	.carousel-caption h2, .carousel-caption h3 {
		font-size: 2em;
	}
	.slider_right {
		padding: 0 3em;
	}
	.welcome_left h4 {
		font-size: 1.2em;
	}
	.welcome_left p {
		font-size: 14px;
	}
	.mid-inner-sec {
		padding: 0 6px;
	}
	.mid-inner-info h5 {
		font-size: 1.2em;
	}
	.about_agileinfo p {
		font-size: 14px;
		letter-spacing: .5px;
	}
	.about h4 {
		font-size: 1.5em;
	}
	.team .col-md-3 {
		padding: 0 5px;
	}
	.team .social-icon {
		left: 9%;
	}
	.testimonials-grid-right p {
		width: 100%;
	}
	.w3_agile_footer_grid li {
		font-size: 14px;
		padding-right: 0px;
		letter-spacing: 0px;
	}
	.w3_agile_footer_grid h3 {
		font-size: 22px;
	}
	.agileinfo_copyright p {
		font-size: 14px;
	}
	.innerpages_banner h2 {
		font-size: 40px !important;
	}
	.innerpages_banner {
		min-height: 210px !important;
	}
	.about_right h3 {
		font-size: 35px;
		line-height: 45px;
	}
	.about_right p {
		letter-spacing: .5px;
		margin: 1em 0;
	}
	a.read, a.read2 {
		font-size: 14px;
		letter-spacing: 1px;
	}
	.blog_grid p {
		letter-spacing: .5px;
	}
	.blog_grid h3 a {
		bottom: 54.6%;
		left: 5.3%;
	}
	.popular-agileinfo h4 {
		font-size: 1.2em;
	}
	.popular-agileinfo i.fa{
		font-size: 2em;
	}
	.popular-agileinfo p {
		font-size: 14px;
		letter-spacing: 0px;
	}
	.bannerbottomleft {
		min-height: 503px;
	}
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 10em;
	}
	section.portfolio-agileinfo .nav-tabs > li > a {
		padding: 5px 15px;
	}
	section.portfolio-agileinfo .b-wrapper h5 {
		font-size: 20px;
		padding: 8px 0;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		color: #fff;
		font-size: 25px;
		padding-top: 15px;
	}
	.address-grids span.fa {
		width: 49px;
		height: 49px;
	}
	.address-left {
		padding: 1.5em 1.5em;
	}
	.map iframe {
		min-height: 289px;
	}
	h3.heading {
		font-size: 35px;
	}
	.navbar-default .navbar-nav>li>a {
		font-size: 13px;
		padding: 14px 20px;
		margin: 1em 0;
	}
	.navbar-default a.navbar-brand h1 {
		font-size: 37px;
		margin-top: 18px;
	}
	.carousel-caption {
		min-height: 560px!important;
	}
}
@media(max-width: 1024px){
	.nbs-flexisel-nav-right {
		right: -3%;
	}
	.nbs-flexisel-nav-left {
		left: -3%;
	}
	.carousel-caption {
		min-height: 540px!important;
	}
}
@media(max-width: 991px){
	.mid-inner-sec {
		width: 50%;
		float: left;
	}
	.navbar-default .navbar-nav>li>a {
		font-size: 13px;
		padding: 12px 12px;
	}
	.navbar-nav>li {
		margin: 0 2px;
	}
	.navbar-default a.navbar-brand h1 {
		font-size: 32px;
	}
	.cakes_grids .col-md-4 {
		width: 50%;
		float: left;
	}
	.cakes_grids .col-md-4:nth-child(3) {
		margin-top:2em;
	}
	.team .col-md-3 {
		padding: 0 20px;
		width: 50%;
		float: left;
	}	
	.team .agileits_team_grid {
		margin-bottom: 2em;
	}
	.team .social-icon {
		left: 19%;
	}
	.testimonials-grids {
		width: 100%;
	}
	.testimonials-grid-right h4 {
		font-size: 1.3em;
		letter-spacing: 0px;
	}
	.w3_agile_footer_grid:nth-child(2) {
		margin-bottom: 4em;
	}
	h3.agileits-title {
		font-size: 1.6em;
		margin-top: 1em;
	}
	.w3_agile_footer_grid li {
		padding-right: 40px;
	}
	.cakeimg {
		padding: 0 5px;
		width: 50%;
		float: left;
	}
	.about_right {
		margin-top: 2em;
	}
	.service-grid1:nth-child(2){
		width: 40%;
		margin: 1em 0;
	}
	.popular-grid {
		width: 50%;
		float: left;
	}
	.popular-grid:nth-child(1),.popular-grid:nth-child(2){
		margin-bottom: 1em;
	}
	.popular-agileinfo {
		margin-top: 3em;
	}
	.w3layouts_stats_left {
		width: 25%;
		float: left;
	}
	.bannerbottomleft {
		min-height: 400px;
	}
	.w3layouts_stats_left {
		width: 25%;
		float: left;
		padding: 0;
	}
	.w3layouts_stats_left h3 {
		font-size: 1em;
	}
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 3em;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		padding-top: 50px;
	}
	.mail_grid_w3l textarea {
		margin-top: 1em;
	}
	.contact_left_grid {
		padding-right: 0;
	}
	.blog_grid:nth-child(2){
		display:none;
	}
	.blog_grid{
		width:50%;
		float:left;
	}
	.nbs-flexisel-nav-right {
		right: -5%;
	}
	.nbs-flexisel-nav-left {
		left: -5%;
	}
	.blog_grid h3 a {
		bottom: 47.6%;
		left: 4.5%;
	}
	.w3layouts_stats_left i {
		font-size: 2.5em;
	}
	.slider_left, .slider_right {
		width: 50%;
		float: left;
		padding: 0 5px;
	}
	.carousel-caption h2, .carousel-caption h3 {
		font-size: 1.7em;
		line-height: 45px;
	}
	.carousel-caption p {
		letter-spacing: 1px;
	}
	.carousel-caption {
		min-height: 530px!important;
	}
	.welcome-w3lright {
		width: 60%;
	}
	#play {
		top: 43%;
		left: 41%;
	}
}
@media(max-width:800px){
	.cakes_grid1 h3 {
		font-size: 20px;
	}
	.about h4 {
		font-size: 1.4em;
	}
	.mid-inner-sec span {
		font-size: 2em;
	}
	.nbs-flexisel-nav-right {
		right: -4%;
	}
	.nbs-flexisel-nav-left {
		left: -4%;
	}
	.popular-section-wthree,.stats,.gallery,.about,.popular_cakes,.contact-section,.blog,.codes,.testimonials,.blog,.footer,.welcome,.team,.about_section,.typo,.w3_wthree_agileits_icons.main-grid-border{
		padding: 4em 0;
	}
	.subscribe {
		padding: 3em 0;
	}
}
@media(max-width: 768px){
	.testimonials-grid-right p {
		width: 85%;
	}
	.navbar-default a.navbar-brand h1 {
		font-size: 30px;
		margin-left: 1em;
	}
	.team .social-icon {
		left: 21%;
	}
	.nbs-flexisel-nav-right {
		right: -2%;
	}
	.nbs-flexisel-nav-left {
		left: -2%;
	}
	h3.heading {
		font-size: 30px;
	}
	.innerpages_banner h2 {
		font-size: 35px !important;
	}
	.innerpages_banner {
		min-height: 180px !important;
	}
	.bannerbottomleft {
		min-height: 350px;
	}
}
@media(max-width: 767px){
	.navbar-toggle {
		margin-right: 20px;
		margin-top: 15px;
	}
	.navbar-default a.navbar-brand h1 {
		margin-top: 15px;
	}
	.navbar {
		min-height: 60px;
	}
	.navbar-nav>li {
		float: none;
		width: 25%;
		margin: 0 auto;
	}
	.navbar-default .navbar-nav>li>a {
		font-size: 14px;
		padding: 10px 14px;
		text-align: center;
		margin: .5em 0;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #333;
		text-align: center;
		padding: 10px 14px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #fff;
		background-color: #ff66ff;
	}
	div#bs-example-navbar-collapse-1 {
		position: absolute;
		z-index: 999;
		width: 100%;
	}
	.navbar-nav {
		margin-top: 0em;
		padding: 1em 0;
	}
}
@media(max-width: 736px){
	.about_right p {
		margin: 1em;
	}
	.blog_grid h3 a {
		bottom: 52%;
		left: 4.9%;
	}
	.blog_grid p {
		letter-spacing: 0px;
	}
	section.portfolio-agileinfo .nav-tabs > li > a {
		padding: 5px 10px;
	}
	.slider_left, .slider_right {
		width: 80%;
		float: none;
		margin: 0 auto;
		padding: 0 5px;
	}
	.slider_right {
		padding: 1em 4em 0;
	}
	.carousel-caption h2, .carousel-caption h3 {
		margin-top: 1em;
	}
	.carousel-caption {
		padding-top: 3em;
	}
	.carousel-indicators {
		bottom: 0%;
	}
	.blog_grid h3 a {
		bottom: 49%;
		left: 4.9%;
	}
}
@media(max-width: 667px){
	.team .social-icon {
		left: 16%;
	}
	.w3layouts_stats_left h3 {
		letter-spacing: 0;
	}
	section.portfolio-agileinfo .nav-tabs > li > a {
		font-size: 15px;
	}
	section.portfolio-agileinfo .nav-tabs > li.active > a, section.portfolio-agileinfo .nav-tabs > li.active > a:hover, section.portfolio-agileinfo .nav-tabs > li.active > a:focus {
		font-size: 15px;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		padding-top: 40px;
	}
	#play {
		width: 50px;
		height: 50px;
		background: #03C5E2 url(../images/play-button.png) no-repeat 0px 0px;
		background-size: auto, cover;
		background-size: 50px;
	}
	.blog_grid h3 a {
		bottom: 55%;
		left: 5.7%;
	}
	.bannerbottomleft {
		min-height: 300px;
	}
}
@media(max-width:640px){
	.welcome_left h4 {
		font-size: 1.1em;
	}
	.subscribe-grid input[type="email"] {
		font-size: .9em;
	}
	.subscribe-grid button.btn1 {
		padding: .6em;
	}
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 2em;
	}
	.w3_agile_footer_grid li {
		padding-right: 15px;
	}
	.slider_right {
		padding: 1em 5em 0;
	}
	.blog_grid h3 a {
		bottom: 56%;
	}
	.popular-section-wthree,.stats,.gallery,.about,.popular_cakes,.contact-section,.blog,.codes,.testimonials,.blog,.footer,.welcome,.team,.about_section,.typo,.w3_wthree_agileits_icons.main-grid-border{
		padding: 3em 0;
	}
	.subscribe {
		padding: 2em 0;
	}
}
@media(max-width:600px){
	.welcome_left p {
		font-size: 13.5px;
	}
	.welcome_left h4 {
		font-size: 1em;
	}
	.cakes_grids .col-md-4 {
		width: 80%;
		float: none;
		margin: 0 auto 1em;
	}
	.team .social-icon {
		left: 12%;
	}
	.blog_grid {
		width: 80%;
		float: none;
		margin: 0 auto;
	}
	.blog_grid:nth-child(3){
		display:none;
	}
	.nbs-flexisel-nav-right {
		right: 2%;
	}
	.nbs-flexisel-nav-left {
		left: 2%;
	}
	.about_right h3 {
		font-size: 30px;
		line-height: 40px;
	}
	.service-grid1:nth-child(2) {
		width: 60%;
		margin: 1em 0;
	}
	.w3layouts_stats_left {
		width: 50%;
		float: left;
	}
	.w3layouts_stats_left:nth-child(2),.w3layouts_stats_left:nth-child(1) {
		margin-bottom:3em;
	}
	section.portfolio-agileinfo .nav-tabs > li {
		margin-bottom: 0;
		margin: 0 0px;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		padding-top: 30px;
	}
	.blog_grid h3 a {
		bottom: 37%;
		left: 4%;
	}
	section.portfolio-agileinfo .nav-tabs {
		border-bottom: none;
		margin: 0px 0 20px;
	}
	.address-grid h4 {
		font-size: 24px;
	}
	.navbar-nav>li {
		width: 30%;
	}
}	
@media(max-width:568px){
	.team .social-icon {
		left: 9%;
	}
	.w3_agile_footer_grid h3 {
		font-size: 20px;
	}
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 0em;
	}
	.subscribe-grid {
		text-align: center;
		width: 90%;
		margin: 1em auto 0;
	}
	.welcome-w3lright {
		width: 70%;
	}
	.bannerbottomleft {
		min-height: 250px;
	}
	.banner-bottom.mid-section-agileits {
		padding: 2em;
	}
	.bannerbottomright h3 {
		font-size: 1.3em;
	}
	.bannerbottomright h4 {
		font-size: 1em;
	}
	.w3layouts_stats_left p {
		font-size: 1.6em;
		margin: 0.5em 0 0.3em 0;
	}
	.w3layouts_stats_left i {
		font-size: 2.2em;
	}
}
@media(max-width: 480px){
	.carousel-caption h2, .carousel-caption h3 {
		font-size: 1.5em;
		margin-top: 0em;
		line-height: 35px;
	}
	.carousel-caption p {
		letter-spacing: .5px;
		font-size: .9em;
		line-height: 26px;
	}
	.carousel-caption {
		padding-top: 3em;
	}
	a.read, a.read2 {
		font-size: 14px;
		padding: 10px 15px;
		letter-spacing: 1px;
	}
	.slider_right {
		padding: 2em 5em 2em;
	}
	.carousel-indicators li {
		width: 10px;
		height: 10px;
	}
	.carousel-indicators .active {
		width: 10px;
		height: 10px;
	}
	.mid-inner-sec {
		width: 100%;
		float: none;
	}
	.one{
		margin-bottom: 1em;
	}
	.team .col-md-3 {
		padding: 0 5px;
		width: 50%;
		float: left;
	}
	.team .social-icon {
		left: 7%;
		padding: 5px;
	}
	.testimonials-grid-right p {
		width: 94%;
	}
	h3.heading {
		font-size: 26px;
	}
	.w3_agile_footer_grid.right {
		padding: 5px;
	}
	.navbar-nav>li {
		width: 30%;
	}
	.popular-grid {
		width: 100%;
		float: none;
	}
	section.portfolio-agileinfo .nav-tabs > li {
		margin-bottom: 0;
		margin: 0 10px;
	}
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 3em;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		padding-top: 12px;
	}
	.team, .footer, .about, .services, .testimonials {
		padding: 3em 0;
	}
	.blog_grid h3 a {
		bottom: 49%;
		left: 5%;
	}
	.map iframe {
		min-height: 250px;
	}
	.mail_grid_w3l input[type="text"], .mail_grid_w3l input[type="email"], .mail_grid_w3l textarea {
		outline: none;
		padding: 12px;
		font-size: 13px;
	}
	.mail_grid_w3l input[type="submit"] {
		padding: 11px 0;
		font-size: 16px;
	}
	.address-grid h4 {
		font-size: 22px;
	}
	.address-grids {
		margin-top: 1em;
	}
	.contact-right p {
		font-size: .9em;
	}
	.mail_grid_w3l textarea {
		min-height: 125px;
	}
	.innerpages_banner h2 {
		font-size: 30px !important;
		padding-top: 1.5em;
	}
	.innerpages_banner {
		min-height: 130px !important;
	}
	.navbar-nav>li {
		width: 35%;
	}
}
@media(max-width:414px){
	.about h4 {
		font-size: 1.2em;
	}
	.cakes_grids .col-md-4 {
		width: 95%;
	}
	.team .col-md-3 {
		padding: 0 5px;
		width: 70%;
		float: none;
		margin: 0 auto;
	}
	.team .social-icon {
		left: 13%;
	}
	.wmuSliderPagination {
		left: 39%;
	}
	.w3_agile_footer_grid {
		padding: 5px;
		width: 80%;
		float: none;
		margin: 0 auto;
		margin-bottom: 1em;
	}
	.w3_agile_footer_grid:nth-child(2) {
		margin-bottom: 1em;
	}
	.w3_agile_footer_grid:nth-child(4) {
		margin-bottom: 0em;
	}
	.about_right p {
		margin: 1em 0;
		font-size: 13px;
	}
	.service-grid1:nth-child(2) {
		width: 80%;
		margin: 1em 0;
	}
	section.portfolio-agileinfo .nav-tabs > li {
		margin-bottom: 0;
		margin: 0 5px;
	}
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 2em;
	}
	section.portfolio-agileinfo .b-wrapper {
		padding: 1em;
	}
	section.portfolio-agileinfo .b-wrapper h5 {
		font-size: 16px;
		padding: 8px 0;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		padding-top: 17px;
		font-size: 20px;
	}
	section.portfolio-agileinfo .nav-tabs {
		border-bottom: none;
		margin: 0px 0 10px;
	}
	.agileinfo_copyright p {
		letter-spacing: 1px;
	}
	.slider_right {
		padding: 2em 3em 1em;
	}
	.slider_left, .slider_right {
		width: 90%;
	}
	.welcome-w3lright {
		width: 80%;
	}
	h3.agileits-title {
		font-size: 1.4em;
	}
	.blog_grid h3 a {
		bottom: 56.5%;
		left: 6%;
	}
	.about_right h3 {
		font-size: 26px;
		line-height: 35px;
	}
	.map iframe {
		min-height: 200px;
	}
	.navbar-default .navbar-nav>li>a {
		font-size: 13px;
		padding: 8px 14px;
		margin: .3em 0;
	}
	.navbar-nav>li {
		width: 42%;
	}
}
@media(max-width:384px){
	.slider_left {
		padding: 0 5px;
	}
	.team .col-md-3 {
		width: 80%;
	}
	.team .social-icon {
		left: 16%;
	}
	.navbar-nav>li {
		width: 40%;
	}
	.navbar-default .navbar-nav>li>a {
		font-size: 13px;
		padding: 9px 14px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		padding: 9px 14px;
		font-size: 13px;
	}
	.about_right h3 {
		font-size: 26px;
		line-height: 35px;
	}
	.w3_agile_footer_grid {
		width: 90%;
	}
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 1em;
	}
	.address-grid h4 {
		font-size: 20px;
	}
	.slider_left, .slider_right {
		width: 95%;
	}
	.welcome-w3lright {
		width: 100%;
	}
	.about_agileinfo p {
		font-size: 13.5px;
		letter-spacing: .4px;
	}
	.mid-inner-info h5 {
		font-size: 1.1em;
	}
	.mid-inner-sec span {
		font-size: 1.5em;
	}
	.testimonials-grid-right h4 {
		font-size: 1.2em;
	}
	.blog_grid p {
		font-size: 13px;
	}
	.blog_grid h3 a {
		bottom: 57%;
	}
	.agileits_team_grid h4 {
		font-size: 1.2em;
		margin: 1em 0 0em;
	}
	.popular-agileinfo h4 {
		font-size: 1.1em;
	}
	.navbar-nav>li {
		width: 46%;
	}
}
@media(max-width:375px){
	.cakes_grid1 p {
		font-size: 14px;
		letter-spacing: 0px;
	}
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 0em;
	}
	.carousel-caption h2, .carousel-caption h3 {
		font-size: 1.4em;
	}
	.agileits_w3layouts_footer_grid_list li {
		margin-bottom: .5em;
	}
	.w3_agile_footer_grid h3 {
		font-size: 19px;
	}
	.w3ls_footer_grid_left p {
		font-size: 13px;
	}
	.agileinfo_copyright p {
		font-size: 13px;
	}
	.blog_grid h3 a {
		font-size: 15px;
	}
	.blog_grid {
		width: 90%;
	}
	.popular-section-wthree, .stats, .gallery, .about, .popular_cakes, .contact-section, .blog, .codes, .testimonials, .blog, .footer, .welcome, .team, .about_section,.typo,.w3_wthree_agileits_icons.main-grid-border {
		padding: 2em 0;
	}
}
@media(max-width:320px){
	.slider_right {
		padding: 2em 2em 0;
	}
	.slider_left, .slider_right {
		width: 100%;
	}
	.carousel-caption p {
		letter-spacing: 0px;
	}
	h3.agileits-title {
		font-size: 1.2em;
	}
	.welcome_left h4 {
		font-size: .9em;
	}
	.welcome_left p {
		font-size: 13.4px;
		letter-spacing: .5px;
	}
	.cakes_grids .col-md-4 {
		width: 100%;
		padding: 0 5px;
	}
	.team .col-md-3 {
		width: 90%;
	}
	.team .social-icon {
		left: 13%;
	}
	.testimonials-grid-right p {
		font-size: 13px;
	}
	.subscribe-grid input[type="email"],.subscribe-grid button.btn1 {
		width: 100%;
	}
	.w3_agile_footer_grid {
		width: 95%;
	}
	.service-grid1:nth-child(2) {
		width: 100%;
		margin: 1em 0;
	}
	.service-grid1 p {
		font-size: 14px;
		letter-spacing: 0px;
	}
	.w3layouts_stats_left {
		width: 100%;
		float: none;
	}
	.w3layouts_stats_left:nth-child(3) {
		margin-bottom: 3em;
	}
	.w3layouts_stats_left p {
		margin: 0.3em 0 0.5em 0;
	}
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 2em;
	}
	section.portfolio-agileinfo .portfolio-grids {
		width: 100%;
		float: none;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		padding-top: 42px;
		font-size: 20px;
	}
	.address-grids span.fa {
		width: 44px;
		height: 44px;
	}
	.about h4 {
		font-size: 1.1em;
	}
	.testimonials-grid-right h4 {
		font-size: 1.1em;
	}
	.map {
		padding: .5em;
	}
	.innerpages_banner h2 {
		font-size: 25px !important;
	}
	.innerpages_banner {
		min-height: 120px !important;
	}
	.team, .footer, .about, .services, .testimonials {
		padding: 2em 0;
	}
	.blog_grid h3 a {
		bottom: 63.5%;
		left: 7%;
	}
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
		top: 28% !important;
	}
	.nbs-flexisel-nav-right {
		right: 0%;
	}
	.nbs-flexisel-nav-left {
		left: 0%;
	}
	.bannerbottomright i.fa {
		width: 25px;
	}
	.bannerbottomright h4 {
		font-size: 1em;
		letter-spacing: 0px;
	}
	.bannerbottomright h3 {
		font-size: 1.2em;
	}
	.navbar-nav>li {
		width: 55%;
	}
}

/*--responsive--*/